<div class="flex flex-col justify-center items-center">
  <div class="m-16  rounded-md p-2 shadow-md bg-white">
    <div class="text-center">
      <h2 class="text-cyan-800 text-xl font-bold">Welcome to</h2>
      <h1 class="uppercase tracking-wider headline" >the joke machine</h1>
    </div>
  </div>
  <div class="btn-container">
    <button routerLink="/jokes" class="btn">Explore<fa-icon class="px-2" icon="angle-double-right"></fa-icon></button>
  </div>
  <div class="explanation-container">
    <h2 class="explanation">This is a small joke machine, which randomly displays a Chuck Norris joke.</h2>
    <span class="fun-text">Have fun!</span>
  </div>
</div>
